---
name: Bug report
about: Report a defect
labels: bug
---

**Describe the bug**
A clear, concise description of what the bug is.

**To reproduce**
Steps to reproduce the behavior.

**Expected behavior**
What you expected to happen.

**Environment**
- OS:
- .NET version:
- Package version:
